* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e7be94;
}

.heading {
    font-size: 48px;
    text-align: center;
    background-color: rgb(252, 250, 246);

}

.subheading {
    font-size: 24px;
    text-align: left;
}

.servings {
    font-size: 18px;
}

#home {
    text-align: center;
    list-style-position: inside;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

p,
ul,
ol {
    font-size: 14px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#chef {
    width: 300px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}

#cinnamonroll {
    height: 400px;
    width: auto;
}

#potsticker {
    height: 400px;
    width: auto;
}

#tiramisu {
    height: 400px;
    width: auto;
}



